@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add custom CSS below */
body {
  @apply bg-gray-50 text-gray-900;
}
.navbar {
  width: 100%;
  background: #0f172a;
  padding: 15px 25px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  text-decoration: underline;
}
